{% extends "base.html.twig" %}

{% block title %}Books{% endblock %}

{% block content %}
    <div class="textHandle">
        <fieldset>
            <legend>All them books yo</legend>
            <a href="{{ url("books_show_all") }}"><-Back</a>
            <h3>Title</h3>
            {{ book.getTitle() }}
            <h3>ISBN</h3>
            {{ book.getIsbn() }}
            <h3>Author</h3>
            {{ book.getAuthor() }}
            <h3>Cover</h3>
            <img src="{{ book.getImageUrl() }}">
            <hr>
        </fieldset>
    </div>
{% endblock %}