{% extends "base.html.twig" %}

{% block title %}Books{% endblock %}

{% block content %}
    <div class="textHandle">
        <fieldset>
            <legend>These books exist in the DB</legend>
            {% if books is empty %}
            <h3>No books found</h3>
            {% endif %}
            <table style="width:100%">
                <tr>
                    <th><h2>Title</h2></th>
                    <th><h2>Action</h2></th>
                </tr>
                <tr>
            {% for book in books %}
                    {% set bookId = book.getId() %}
                <tr>
                    <td><h3>{{ book.getTitle() }}</h3></td>
                    <td>
                        <br>
                        <form action="{{ path("books_by_id", {id:bookId}) }}" method="get">
                            <button> Details </button>
                        </form>
                        <br>
                        <form action="{{ path("books_update_form", {id:bookId}) }}" method="get">
                            <button> Update </button>
                        </form>
                        <br>
                        <form action="{{ path("books_delete_by_id", {id:bookId}) }}" method="post">
                            <button onclick="return confirm('Are you really really sure?')"> Delete </button>
                        </form>
                        <br>
                    </td>
                </tr>
            {% endfor %}
            </table>
            <a href="{{ url("register_book_form") }}">Register new book</a>
        </fieldset>
    </div>
{% endblock %}