{% extends 'base.html.twig' %}

{% block title %}Register book!{% endblock %}

{% block content %}
<div class="textHandle">
    <fieldset>
        <legend>Register book</legend>
        {% set bookId = book.getId() %}
        <form method="POST" action="{{ path("books_update", {id:bookId}) }}">
            <p><Label>Book details:</Label><br>
                <input type="text" name="id" value="{{ bookId }}" hidden><br>
                <label>Title:</label><br><input type="text" name="title" value="{{ book.getTitle() }}"><br>
                <br>
                <label>ISBN:</label><br><input type="text" name="isbn" value="{{ book.getIsbn() }}"><br>
                <br>
                <label>Author:</label><br><input type="text" name="author" value="{{ book.getAuthor() }}"><br>
                <br>
                <label>Image url:</label><br><input type="text" name="image_url" value="{{ book.getImageUrl() }}"><br>
                <br>
                <input type="submit" name="update" value="Update">
            </p>
        </form>
    </fieldset>
</div>
{% endblock %}
