{% extends "base.html.twig" %}

{% block title %}Draw{% endblock %}

{% block content %}
    <div class="textHandle">
        <fieldset>
            <legend>One card was drawn</legend>
            <form method="POST" action="{{ path("draw-number-of-cards-redirect") }}">
                <p><Label>Enter number of cards to draw:</Label><br>
                    <input type="number" name="numOfDraws" value="{{ numOfDraws }}">
                    <input type="submit" name="draw" value="Draw">
                </p>
            </form>
            <p>This/these card/s was drawn:</p>
            {% for drawnCard in drawnCards[0] %}
                <div class="card {{ drawnCard.getColor() }}">
                    {{ drawnCard.getValue() }}
                    <span class="symbol">
                            {{ drawnCard.getSuite()|raw }}
                    </span>
                </div>
            {% endfor %}
            <p>Remaining cards:</p>
            {% for card in deck %}
                <div class="card {{ card.getColor() }}">
                    {{ card.getValue() }}
                    <span class="symbol">
                        {{ card.getSuite()|raw }}
                    </span>
                </div>
            {% endfor %}
        </fieldset>
    </div>
{% endblock %}