{% extends "base.html.twig" %}

{% block title %}Draw{% endblock %}

{% block content %}
    <div class="textHandle">
        <p>
        <form method="POST">
            <h2><Label>Pick an option:</Label></h2>
                <input type="submit" name="draw" value="Draw"> |
                <input type="submit" name="done" value="Done"> |
                <input type="submit" name="reset" value="Reset">
            <br>
            <br>
            <h1>{{ include('form/flash-message.html.twig') }}</h1>
        </form>
            <h3>Player-hand:</h3>
            <p>
                {% if hands['player'] is not empty %}
                    <div class="cardContainer">
                        {% for card in hands['player'].getHand %}
                            <div class="card {{ card.getColor() }}">
                                <span class="cardValue">
                                    {{ card.getValue() }}
                                </span>
                                <span class="symbol">
                                    {{ card.getSuite()|raw }}
                                </span>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </p>
                <p> Value of hand (Ace = 14p / Ace = 1p):</p>
                {% if playerHasAces %}
                    {{ playerHandValueAceAs14 }} / {{ playerHandValueAceAs1 }}
                {% else %}
                    {{ playerHandValueAceAs14 }}
                {% endif %}

                    <h3>Dealer-hand:</h3>
            <p>
            {% if hands['dealer'] is not empty %}
                {% for card in hands['dealer'].getHand %}
                    <div class="card {{ card.getColor() }}">
                        {{ card.getValue() }}
                        <span class="symbol">
                    {{ card.getSuite()|raw }}
                </span>
                    </div>
                {% endfor %}
            {% endif %}
            </p>
            <p> Value of hand (Ace = 14p / Ace = 1p):</p>
            {% if dealerHasAces %}
                {{ dealerHandValueAceAs14 }} / {{ dealerHandValueAceAs1 }}
            {% else %}
                {{ dealerHandValueAceAs14 }}
            {% endif %}
        </fieldset>
    </div>
{% endblock %}