<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset("favicon.ico") }}">
        <link rel="stylesheet" href="{{ asset("css/style_project.css") }}"/>
    </head>
    <body>
    <div class="siteheader">
        <h1> Car tire utility</h1>
    </div>
    <div class="navbar">
        <nav>
            <ul>
                <a href="{{ path("app_project") }}">Home</a> |
                <a href="{{ path("tires_show_all") }}">View tires</a> |
                <a href="{{ path("register_tire_form") }}">Register tire</a> |
                <a href="{{ path("proj_about") }}">About</a> |
            </ul>
        </nav>
    </div>

    {% block content %}
    Default content
    {% endblock %}

    <hr>
    <div class="sitefooter center">
        Copyright chln20 @ 2022
    </div>
    </body>
</html>
