<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset("favicon.ico") }}">
        <link rel="stylesheet" href="{{ asset("css/style_project.css") }}"/>
    </head>
    <body>
    <div class="siteheader">
        <h1> dbwebb-mvc of chln20</h1>
    </div>
    <div class="navbar">
        <nav>
            <ul>
                <a href="{{ url("home") }}">Home</a> |
                <a href="{{ path("about") }}">About</a> |
                <a href="{{ path("report") }}">Report</a> |
                <a href="{{ path("card") }}">Cards</a> |
                <a href="{{ path("exercises") }}">Exercises</a> |
                <a href="{{ path("game-home") }}">Game</a> |
                <a href="{{ path("app_books") }}">Books</a> |
                <a href="{{ path("metrics") }}">Metrics</a> |
                <a href="{{ path("app_project") }}">Proj</a>
            </ul>
        </nav>
    </div>

    {% block content %}
    Default content
    {% endblock %}

    <div class="sitefooter center">
        Copyright chln20 @ 2022
    </div>
    </body>
</html>
