{% extends "base.html.twig" %}

{% block title %}Exercises{% endblock %}

{% block content %}
<div class="textHandle">
    <fieldset>
        <legend>Exercise 1 - Forms</legend>
        <ul>
            <li><a href="{{ path("form-login") }}">Login</a></li>
            <li><a href="{{ path("form-search") }}">Search</a></li>
            <li><a href="{{ path("form-session") }}">Session</a></li>
        </ul>
    </fieldset>

    <fieldset>
        <legend>Exercise 3 - Dice</legend>
        <ul>
            <li><a href="{{ path("dice-home") }}">Dice</a></li>
            <li><a href="{{ path("dice-graphic-home") }}">Dice graphic</a></li>
            <li><a href="{{ path("dice-hand-home") }}">Dice hand</a></li>
        </ul>
    </fieldset>
</div>
{% endblock %}